.pageBanner {
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        var(--secondary-bg-color),
        var(--secondary-bg-color)
    );
    margin: 0;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageBanner .textContainer {
    text-align: center;
    max-width: 1000px;
}

.pageBanner .textContainer h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.pageBanner .textContainer p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
}

.section:nth-child(even) {
    background-color: var(--primary-bg-color);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 50px;
    margin: 0;
}

.section .heading {
    text-align: center;
}

.section .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section .cards .card {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 400px;
    min-height: 150px;
}

.section .cards .card .heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.section .cards .contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--primary-bg-color);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);

    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0)
    );

    max-width: 1000px;
}

.section .heading h2 {
    font-size: 40px;
}

.section .heading p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.section .cards .card .heading img {
    background-color: var(--terirary-bg-color);
    border-radius: 10px;
    margin: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.section .cards .card .textContainer {
    line-height: 23px;
    color: rgba(255, 255, 255, 0.8);
}

.section .cards .card {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); /* default shadow */
    transform: translateY(0); /* default position */
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.section .cards .card:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.1);
    transform: translateY(-5px);
}