:root {
    --secondary-bg-color: #0f0f11;
    --terirary-bg-color: rgb(57, 57, 57);
    --primary-bg-color: #18181a;
    --primary-text-color: rgb(255, 255, 255);
    --primary-text-font: Arial, Helvetica, sans-serif;
    --primary-button-color: blueviolet;
}